*~
*#
*pyc
*.lprof
*.zip
160929 Optotune Lens Driver 4 software package/
rgb-depth/VS-projects/
**/Debug/
**/Release/
**/ipch/
rgb-depth/L3DAssimpModelImport Demo/AssimpModelImport Demo/outputs/
Simulation Image/Navie scan conversion/Model Set/
Simulation Image/Navie scan conversion/Triangle_all/



*desktop.ini
*#
*.bak
*.enc
*.coe
*.idb
*.dropbox
*.opensdf
*.ilk
*.ipch
*.pch
*~
*.zip
*.exe
*.asv
*.filters
*.suo
*.sdf
*.user
*.db
*.opendb
*.tlog
*.log
*.iobj
*.ipdb
*.lastbuildstate
*.pdb
*.unsuccessfulbuild
*.obj
*.vsp
*.psess
*.vspx



