Debug/
Release/
ipch/

*~
*#
*pyc
*.lprof
*.zip
*.tif
*.opensdf
*.ipch
*.filters
*.suo
*.sdf
*.user
*.db
*.opendb
*.tlog
*.log
*.iobj
*.ipdb
*.lastbuildstate
*.pdb
*.unsuccessfulbuild
*.vsp
*.psess
*.vspx
